html,
body,
body > div {
  font-family: "Roboto";
}

.fc-h-event {
  background-color: #3788d8;
  text-transform: uppercase;
  font-style: normal;
  font-size: 8px;
}
.payson {
  background-color: #3788d8 !important;
}

.camelback {
  background-color: #f75c03 !important;
}

.sugar {
  background-color: #ffe156 !important;
}

.skye {
  background-color: #00cc66 !important;
}

.west {
  background-color: #018e42 !important;
}

.fc-event:not(.fc-h-event) {
  background-color: #d4487f;
  color: white;
  font-weight: 500;
  border-color: #d4487f;
  text-transform: uppercase;
  font-style: normal;
  font-size: 8px;
}

.fc-event-title {
  font-weight: 500 !important;
}

b {
  font-weight: 500 !important;
  text-transform: uppercase;
  font-style: normal;
  font-size: 8px;
}

i {
  font-style: normal;
  font-size: 8px;
  font-weight: 500 !important;
}
